{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

<h1> Add Tasks </h1>

<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <div class="form-floating col-md-2 mt-4  mb-3">
        {% comment %} <input type="text" class="form-control" id="floatingInput" name="addtask" placeholder="Tasks" required >
        <label for="floatingInput">Add A Task</label> <Br/> {% endcomment %}
        {% render_field form.task placeholder="Tasks" class+="form-control" id+="floatingInput" %} <Br/>
        <button  type="submit " class="btn btn-outline-primary  btn-lg ">Add</button>
        <button class="btn btn-primary btn-lg ">
            <a class="nav-link active" href=" {% url 'tasks' %}">View Tasks</a>
        </button>
    </div>

</form>

{% endblock  %}