{% extends 'layout.html' %}
{% load static %}
{% block body %}

<h1>Hello,</h1>
<h2>Here is a list of your Tasks</h2>
<div style="display: flex; justify-content: center; margin-top: 1rem; padding: 3rem; text-decoration:none; color: white;">

<h4>
        <ol>
        {% if tasked %}    
        {% for task in tasked %}
            
                
            
                <li style="color:whitesmoke; margin-top: 1rem; background-color:rgb(29, 29, 29); padding:0.4rem;"> {{task}} </li><Br/>
        {% endfor %}
        {% else %}
        <h5> No Tasks</h5><Br/>
        {% endif %}
        <button class="btn btn-primary  btn-lg ">
            <a class="nav-link active" href=" {% url 'add' %}">ADD Task</a>
        </button>

        </ol>    
</h4>

</div>

{% endblock %}